p {
    color: #555;
    font-family: arial;
    background: #00FF00;
    font-size: "16pt";
    font-weight: bold
}

p.group {
    color: red;
    font-family: verdana;
    font-size: "14pt";
    font-weight: normal;
    background: #0000FF
}

p#one {
    color: #00FF00;
    background: #FFFFFF;
}